<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Tabla
        </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Descipcion</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Celular 1</td>
                            <td>$1,499,990</td>
                            <td>Perfecto para todos</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Celular 2</td>
                            <td>$988,990</td>
                            <td>Pantalla Amoled</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Celular 3</td>
                            <td>$749,999</td>
                            <td>Autentica maquina</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Celular 3</td>
                            <td>$749,999</td>
                            <td>Autentica maquina</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Celular 3</td>
                            <td>$749,999</td>
                            <td>Autentica maquina</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Celular 3</td>
                            <td>$749,999</td>
                            <td>Autentica maquina</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Celular 3</td>
                            <td>$749,999</td>
                            <td>Autentica maquina</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Celular 3</td>
                            <td>$749,999</td>
                            <td>Autentica maquina</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Celular 3</td>
                            <td>$749,999</td>
                            <td>Autentica maquina</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>